table {
    border-collapse: collapse;
}

td {
    border: 3px solid rgb(96, 226, 35);
    color: black;

}

th {
    border: 3px solid rgb(96, 226, 35);
    color: red;

}

td {
    width: 150px;
    padding: 5px;

}

h1 {
    text-align: center;
    color: green;
}


.center {
    margin-left: auto;
    margin-right: auto;
  }
